*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.input-container {
    position: relative; 
    background-color: rgb(206, 206, 206);
    border-radius: 0.1rem;
    display: flex;
    gap: 1rem;
    width: 36rem;
    padding: 0.5rem;
}

.input-container .icon {
    position: absolute;
}


.input-container input {
    border: 0;
    width: 100%;
    background: none;
    outline: 0;
}

.input-container input {
    
}