*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.input-container {
    position: relative; 
    background-color: rgb(206, 206, 206);
    border-radius: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 25em;
    height: 3.2em;
    padding: 0.9em;
    margin-bottom: 0.5rem;
    /* border: 1px solid red; */

}

.input-container .icon {
    position: absolute;
}


.input-container input {
    margin-left: 0.4rem;
    border: 0;
    width: 100%;
    background: none;
    outline: 0;
    font-weight: 600;

}

.eye-input {
    display: flex;
    justify-content: center;
}




